server:
  port: 8080

spring:
  application:
    name: itau-challenge
  datasource:
    url: jdbc:postgresql://db:5432/insurance
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  file:
    name: ./logs/log-file.log

springdoc:
  packagesToScan: br.com.itau.itaugt8challenge.controller
  swagger-ui:
    path: /docs-insurance.html
  api-docs:
    path: /docs-insurance
