server:
  port: 8080

spring:
  application:
    name: itau-challenge
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${POSTGRES_DB:insurance-challenge}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:12345}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  file:
    name: ./logs/log-file.log

springdoc:
  packagesToScan: br.com.itau.itaugt8challenge.controller
  swagger-ui:
    path: /docs-insurance.html
  api-docs:
    path: /docs-insurance
